.popup__error {
  /* position: absolute;
  top: 212px;
  width: 83%;
  display: none;
  font-family: 'Inter', Arial, sans-serif;
  font-size: 12px;
  line-height: 14px; */
  color: rgba(255, 0, 0, 1);
}

/* .popup__input-error:nth-child(2) {
  top: 152px;
} */
