.popup__close {
  position: absolute;
  top: -40px;
  right: -40px;
  cursor: pointer;
  background-image: url(../../../images/Close_Icon.svg);
  background-color: transparen;
  width: 32px;
  height: 32px;
}

.popup__close:hover {
  opacity: 0.6;
}
