.profile__info {
  display: grid;
  color: white;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  gap: 18px 16px;
  align-self: center;
}


@media screen and (max-width: 767px) {
  .profile__info {
    justify-items: end;
    align-self: center;
    gap: 13px 10px;
  }

}
